{% extends "EcommerceBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="span12">
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        {% if user.address|length != 0 %}
                            <form action="{{ path('ecommerce_validation') }}" method="post">
                                <h4>Adresse de livraison</h4>
                                {% for address in user.address %}
                                    <label class="radio">
                                        <input type="radio" name="delivery"
                                               value="{{ address.id }}"
                                               {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                        {{ address.firstname }} {{ address.name }} <br/>
                                        {{ address.address }}, {{ address.postcode }}  {{ address.city }}
                                        - {{ address.country }} <a
                                                href="{{ path('delete_address', {'id' : address.id}) }}"><i
                                                    class="icon-trash"></i></a>
                                    </label>
                                {% endfor %}


                                <br/><br/>

                                <h4>Adresse de facturation</h4>
                                {% for address in user.address %}
                                    <label class="radio">
                                        <input type="radio" name="billing"
                                               value="{{ address.id }}"
                                               {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                        {{ address.firstname }} {{ address.name }} <br/>
                                        {{ address.address }}, {{ address.postcode }}  {{ address.city }}
                                        - {{ address.country }} <a
                                                href="{{ path('delete_address', {'id' : address.id}) }}"><i
                                                    class="icon-trash"></i></a>
                                    </label>
                                {% endfor %}
                                <br/>
                                <button class="btn btn-primary">Valider</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="span4 offset2">
                        <h4>Ajouter une nouvelle adresse</h4>
                        <form action="{{ path('ecommerce_delivery') }}" method="POST">
                            {{ form_widget(form) }}
                            <br/>
                            <button class="btn btn-primary" type="submit">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}