{% extends "EcommerceBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include  "EcommerceBundle::col-left-co.html.twig" %}
            {% else %}
                {% include  "EcommerceBundle::col-left.html.twig" %}
            {% endif %}
            <div class="span9">
                <h2>Valider mon panier</h2>
                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Références</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total HT</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in orders.product.product %}

                            <tr>
                                <td>{{ product.reference }}</td>
                                <td> {{ product.quantity }}</td>
                                <td> {{ product.priceHT }} €</td>
                                <td> {{ product.priceHT * product.quantity }} €</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </form>
                <dl class="dl-horizontal pull-right">
                    <dt>Total HT :</dt>
                    <dd>{{ orders.product.priceHT }} €</dd>


                    {% for key, taxe in orders.product.taxe %}
                        <dt>TVA {{ key }} :</dt>
                        <dd>{{ taxe }} €</dd>
                    {% endfor %}

                    <dt>Total TTC:</dt>
                    <dd>{{ orders.product.priceTTC }} €</dd>
                </dl>
                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h4>Adresse de livraison</h4></dt>
                        <dt>{{ orders.product.delivery.firstname }} {{ orders.product.delivery.name }}</dt>
                        <dt>{{ orders.product.delivery.address }}</dt>
                        <dt>{{ orders.product.delivery.postcode }} {{ orders.product.delivery.city }}
                            - {{ orders.product.delivery.country }}</dt>
                    </dl>
                </div>
                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h4>Adresse de facturation</h4></dt>
                        <dt>{{ orders.product.billing.firstname }} {{ orders.product.billing.name }}</dt>
                        <dt>{{ orders.product.billing.address }}</dt>
                        <dt>{{ orders.product.billing.postcode }} {{ orders.product.billing.city }}
                            - {{ orders.product.billing.country }}</dt>
                    </dl>
                </div>
                <div class="clearfix"></div>
                {#exemple pour API de paiement, rajouter ce qu'on a besoin de lui envoyer #}
                <form action="{{ path('validation_order', { 'id' : orders.id }) }}" method="POST">
                    <input name="token" type="hidden" value="{{ orders.product.token }}">
                    <input name="price" type="hidden" value="{{ orders.product.priceTTC }}">
                    <input name="date" type="hidden" value="{{ orders.date|date('dmyhms') }}">
                    <button type="submit" class="btn btn-success pull-right">Payer</button>
                </form>

                <a href="{{ path('ecommerce_delivery') }}" class="btn btn-primary">Retour</a>
            </div>

        </div>
    </div>
{% endblock %}
