{% extends 'EcommerceBundle:Admin:layoutAdmin.html.twig' %}
{% block body %}
    <h1>Liste des produits</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Disponibilité</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>

                <td>{{ product.name }}</td>

                <td>{{ product.price }}</td>
                <td>{% if product.available %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('adminProduct_show', { 'id': product.id }) }}"><i class="fas fa-book"></i></a>
                    <a href="{{ path('adminProduct_edit', { 'id': product.id }) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminProduct_new') }}"> Créer un nouveau produit</a>
        </li>
    </ul>
{% endblock %}
