{% extends "EcommerceBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include  "EcommerceBundle::col-left-co.html.twig" %}
            {% else %}
                {% include  "EcommerceBundle::col-left.html.twig" %}
            {% endif %}
            <div class="span9">
                {% if products|length != 0 %}
                    <ul class="thumbnails">
                        {% for product in products %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{ product.image.path }}" alt="{{ product.image.alt }}" width="300"
                                         height="300">
                                    <div class="caption">
                                        <h4>{{ product.name }}</h4>
                                        <p>{{ product.price|taxe(product.taxe.rate) }} €</p>
                                        <a class="btn btn-primary"
                                           href="{{ path('ecommerce_product', {'id' : product.id}) }}">Plus d'infos</a>
                                        {% if basket[product.id] is not defined %}
                                            <a class="btn btn-success"
                                               href="{{ path('add_basket', {'id' : product.id}) }}">Ajouter au
                                                panier</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(products) }}
                    </div>


                {% else %}
                    <p> Aucun produit</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}