{% extends "EcommerceBundle::layout.html.twig" %}
{% block title %} {{ product.name }} {% endblock %}
{% block metaDescription %} {{ product.description }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include  "EcommerceBundle::col-left-co.html.twig" %}
            {% else %}
                {% include  "EcommerceBundle::col-left.html.twig" %}
            {% endif %}
            <div class="span9">
                <div class="row">
                    <div class="span5">
                        <img src="{{ asset(product.image.webPath) }}" alt="{{ product.image.alt }}" width="470" height="310">
                    </div>

                    <div class="span4">
                        <h4>{{ product.name }}</h4>
                        <h5>{{ product.category.name|capitalize }}</h5>
                        <p>{{ product.description|nl2br }}</p>
                        <h4>{{ product.price|taxe(product.taxe.rate) }}€</h4>
                        {% if basket[product.id] is not defined %}
                            <form action="{{ path('add_basket', {'id' : product.id}) }}" method="GET">
                                <select name="qte" class="span1">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <div>
                                    <button class="btn btn-primary">Ajouter au panier</button>
                                </div>
                            </form>
                        {% else %}
                            <div>
                                <a href="{{ path('ecommerce_basket') }}">Le produit est déjà au panier</a>
                            </div>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
